In [4]:
import sqlite3

conn = sqlite3.connect(r"C:\Users\Anik Chatterjee\Desktop\paperpedia\pp-assignment1\sample_db")

cursr = conn.cursor()

In [19]:
cursr.execute("CREATE TABLE emp 
              (eid int(11) NOT NULL,
              ename varchar(32) NOT NULL,
              age int(11) NOT NULL,
              salary double NOT NULL,
              PRIMARY KEY (`eid`)) ENGINE=InnoDB DEFAULT CHARSET=latin1;")

SyntaxError: EOL while scanning string literal (<ipython-input-19-7f13138b2c49>, line 1)